
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTitleLabel">Create or edit a Title</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="title.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="title.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exhibitionStartDate">ExhibitionStartDate</label>
                <div class="input-group">
                    <input id="field_exhibitionStartDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="title.exhibitionStartDate" is-open="datePickerForExhibitionStartDate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForExhibitionStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exhibitionEndDate">ExhibitionEndDate</label>
                <div class="input-group">
                    <input id="field_exhibitionEndDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="title.exhibitionEndDate" is-open="datePickerForExhibitionEndDate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForExhibitionEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">CreationDate</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="title.creationDate" is-open="datePickerForCreationDate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForCreationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latestModifiedDate">LatestModifiedDate</label>
                <div class="input-group">
                    <input id="field_latestModifiedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="title.latestModifiedDate" is-open="datePickerForLatestModifiedDate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForLatestModifiedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_catalog">catalog</label>
            <select class="form-control" id="field_catalog" name="catalog" ng-model="title.catalog" ng-options="catalog as catalog.id for catalog in catalogs track by catalog.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_contentDefinition">contentDefinition</label>
            <select class="form-control" id="field_contentDefinition" name="contentDefinition" ng-model="title.contentDefinition" ng-options="contentDefinition as contentDefinition.id for contentDefinition in contentdefinitions | orderBy:'id' track by contentDefinition.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
